body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* NAVBAR */
nav{
background:#111827;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
}

nav a:hover{
color:#38bdf8;
}

/* HERO */
.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(135deg,#2563eb,#7c3aed);
}

/* BUTTON */
.btn{
background:white;
color:black;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
display:inline-block;
margin-top:10px;
}

/* CARDS */
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#111827;
margin-top:20px;
}